body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}




ul,ol {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.title {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
    max-width: 1440px;
    height: 600px;
    padding: 188px 0;
    margin: 0 auto;
}

.container-first {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}


.title-one {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto 48px;
    max-width: 496px;
}

.title-two {
    color: #2E2F42;
    margin-bottom: 8px;
}

.title-three {
    margin-bottom: 72px;
}

.desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

.descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: start;
}

.btn {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    cursor: pointer;
    display: block;
    margin-top: 48px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}


.team-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08); 
    margin-left: auto;
    margin-right: auto;
}

.item {
    background-color: #FFFFFF;
    padding-left: 0;
    margin: 0;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.team-con {
padding: 32px 0;
}

.port {
padding-top: 120px;
padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 0;
    margin: 0;
    flex-wrap: wrap;
    gap: 48px 24px;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
}

.title-twoo {
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: start;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    row-gap: 24px;
    column-gap: 48px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .container-img {
    transform: translateY(0);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-con {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 120px;
}

.text {
    color: #FFFFFF;
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-bottom: 16px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px
}

.logo-bottom {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-bottom: 16px;
}

.logo-accent {
    color: #2E2F42;
}

.logo-accentt {
    color: #f4f4fd;
}


h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
}


h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
    letter-spacing: 0.02em;
    color: #434455;
}

.nav {
    color: #2E2F42;
    display: flex;
    align-items: center;
    gap: 40px;
    align-items: center;
}


.nav-list {
    display: flex;
    gap: 40px;
    padding: 0;
    list-style: none;
}

.nav-list-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0;
    list-style: none;
}

.address-link {
    margin-left: auto;

}

.address-link-menu {
    margin-left: auto;
   margin-top: 168px;
}

.address-list {
display: flex;
gap: 40px;
padding: 0;
list-style: none;
}

.address-list-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
}

.nav {
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.address {
    justify-content: flex-end;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    gap: 40px;
    flex-direction: row;
}

.address-link,
.nav,
.logo {
    text-decoration: none;
}

.address-link-menu,
.nav-menu {
    text-decoration: none;
}

.nav-menu {
    flex-direction: column;
}

.link-one:hover,
.link-one:focus {
    color: #404BBF;
}

.link-one-menu:hover,
.link-one-menu:focus {
    color: #404BBF;
}

.nav .link:hover,
.nav .link:focus {
    color: #4D5AE5;
}

.nav-menu .link-menu:hover,
.nav-menu .link-menu:focus {
    color: #4D5AE5;
}

.address-link .link:hover,
.address-link .link:focus {
    color: #404BBF;
}

.address-link-menu .link-menu:hover,
.address-link-menu .link-menu:focus {
    color: #404BBF;
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}

.logo:hover,
.logo:focus {
    color: #4D5AE5;
}

address {
    font-style: normal;
}

.link {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-menu {
    color: #2E2F42;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header-container {
    display: flex;
}

.footer-container {
    display: flex;
}

.container {
    max-width: 1158px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    align-items: baseline;
}

.logo-p {
margin-right: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    color: rgba(0, 0, 0, 0);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    padding-right: 0px;
    padding-left: 0px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
 

.features-list-item {
 width:calc((100% - 72px) / 4);
}

.features-first {
    padding: 120px 0;
}

img {
    display: block;
}

.team-soc {
    height: 40px;
    width: 40px;
}


.social {
    width: 40px;
    height: 40px;
}

.social li {
    width: 40px;
    height: 40px;
}

.networks {
width: 100%;
height: 100%;
background-color: #4D5AE5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks:hover,
.networks:focus {
    background-color: #404BBF;
}

.networks-footer {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-footer:hover,
.networks-footer:focus {
    background-color: #31D0AA;
}

.icons {
    fill: #F4F4FD;
}

.features-icon {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: calc((100% - 72px) / 4);
    border-radius: 4px;
    height: 112px;
    background-color: #f4f4fd;
    width: 264px;
    display: flex;
    gap: 24px;
    justify-content: center;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}


.container-img {
    position: relative;
    overflow: hidden;
}

.overflow-text {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    color: #F4F4FD;
    background-color: #4D5AE5;
}

.overflow-text:hover,.overflow-text:focus {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1);
 transform: translateY(100%);
 color: #F4F4FD;
 background-color: #4D5AE5;
}

.portfolio-list-item:hover .overflow-text {
    transform: translateY(0);
}

.portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.soc-list {
    display: flex;
    justify-content: center;
    gap: 24px
}

.soc-list-menu {
    display: flex;
    justify-content: center;
    gap: 40px
}

.footer-ul {
    display: flex;
    gap: 16px;
}

.text {
    color: #FFFFFF;
    margin-bottom: 16px;
}

.soc {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.soc {
    color: #FFFFFF;
    margin-bottom: 16px;
}


.link-one {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding: 24px 0;
    position: relative;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-one-menu {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    position: relative;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding: 24px 0;
    position: relative;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    content: "";
    color: #404BBF;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    position: absolute;
     left: 0;
    bottom: -1px;
    background-color: #404bbf;
}

.current-menu {
    color: #404BBF;
}

.link-one::after {
    content: "";
    color: #404BBF;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;

}

.link {
    color: #434455;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.02em;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    color: #404BBF;
}

.link {
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.link {
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.first-form {
    fill: #4d5ae5;
}

.title-form {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
    border: none;
}

.form-icon {
    fill: #2E2F42;
    left: 16px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon:hover,.form-icon:focus {
    fill: #4D5AE5;
}

.form-footer-icon {
    fill: #ffffff;
    margin-left: 16px;
}

.form-con input {
width: 360px;
border-radius: 4px;
}

.form-con input:focus, .form-con input:hover + svg {
    fill: #4D5AE5;
}

.form-con input:focus,
.form-con input:hover {
    border: 1px solid #4d5ae5;
}

.form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
        background-color: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        border-radius: 4px;
        margin: 0 auto;
        letter-spacing: 0.04em;
        border: none;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-bottom: 16px;
}

.privacy-p {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #2E2F42;
}

.textarea {
    border-radius: 4px;
    height: 120px;
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.textarea:hover, .textarea:focus {
border-color: #4D5AE5;
}


.form-box {
    margin-bottom: 24px;
}

.label-box {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.sub-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.footer-button {
color: #ffffff;
background-color: #4d5ae5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
justify-content: center;
border-radius: 4px;
padding: 8px 24px;
width: fit-content;
height: 40px;
margin: 0 auto;
letter-spacing: 0.04em;
text-align: center;
border: none;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
min-width: 165px;
cursor: pointer;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.info {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}


.footer-form {
gap: 24px;
margin-left: 80px;
}

.footer-form input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
}

.privacy-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-box input:checked span {
background-color: #404bbf;
border: none;
fill: #F4F4FD;
}

.privacy-checkbox-text {
    color: #4d5ae5;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-box input:checked+.label-box .privacy-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.first-form {
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    height: 40px;
}

.text-form {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    padding-left: 24px;
    margin-bottom: 16px;
}

.form-con {
    margin-bottom: 16px;
}

.info input {
    border-radius: 4px;
    width: 264px;
    height: 40px;
}

.close-icon:hover, .close-icon:focus{
fill:#ffffff;
}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
}

.close-button-menu {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fcfcfc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
}

.close-button:hover, .close-button:focus {
    background-color: #404bbf;
    border: none;
}

.close-button-menu:hover,
.close-button-menu:focus {
    background-color: #404bbf;
    border: none;
}

.privacy-checkbox {
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
}

.privacy-checkbox:hover, .privacy-checkbox:focus {
    background-color: #4d5ae5;
}

.close-icon {
    fill: #8e8f99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover, .close-icon:focus {
    fill: #ffffff;
}

.footer-input ::placeholder {
color: #ffffff;
}

.modal-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: all;
}

.modal {
    background: #fcfcfc;
    width: 408px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    min-height: 584px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    position: absolute;
}

.modal-overlay-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    background-color: #fcfcfc;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay-header.is-open {
    opacity: 1;
    pointer-events: all;
}

.modal-header {
    background: #fcfcfc;
    width: 320px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    min-height: 584px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 40px 24px;
    position: absolute;
    flex-direction: column;
}

.soc-menu {
    padding-top: 48px;
}

.footer-input {
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    width: 264px;
}

.input-content:focus + svg {
    fill: #4D5AE5;
}

.input-content:focus,
.input-content:hover {
    border-color: #4D5AE5;
}

.form-con {
    margin-bottom: 8px;
}

.form-icon {
top: 50%;
}

.input-wrap {
    position: relative;
width: 100%;
}

.check {
    margin-bottom: 24px;
}

.text-b {
margin-bottom: 16px;
}

.input-content {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-button:hover > svg, .close-button:focus > svg {
    fill: #ffffff;

}

.title-four {
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
}

.descrip {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin-bottom: 8px;
        text-align: center;
}

@media screen and (max-width: 320px) {
    .container {
            max-width: 100%;
            margin: 0 auto;
            align-items: center;
        }
    .header-container {
        align-items: center;
        justify-content: space-between;
    }
    .title-one {
        font-size: 36px;
    }
    .title {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-m.jpg);
    }
    .nav-list {
        display: none;
    }
    .address-list {
        display: none;
    }
    .menu-icon {
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 .menu-ic {
    width: 100%;
    height: 100%;
    border: none;
    text-align: end;
    background: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

}

@media (min-resolution:192dpi) {
    .title {
        background-image:linear-gradient rgba(46, 47, 66, 0.7), url(../images/people-office-m.jpg2x);
    }
}

@media screen and (max-width: 320px) {
    .features-first {
        padding: 96px 0;
    }
    .features-list {
        display: flex;
         gap: 72px;
         flex-direction: column;
    }
    .features-list-item {
       width: 288px;
       margin: 0 auto;
    }
 .features-icon {
    display: none;
 }
 .title-two {
    font-weight: 700;
    font-size: 36px;
    text-align: center;

 }
.desc {
    text-align: start;
    font-weight: 500;
}
}

@media screen and (max-width: 320px) {
    .team-list {
        flex-direction: column;
        gap: 72px;
    }
    .item {
        width: 264px;
    }
}

@media screen and (max-width: 320px) {
    .port {
            padding-top: 96px;
            padding-bottom: 96px;
        }
    .portfolio-list {
        flex-direction: column;
        gap: 48px;
    }
    .portfolio-list-item {
        width: 288px;
    }
}

@media screen and (max-width: 320px) {
.footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-right: 16px;
    padding-left: 16px;
    }
.logo-p {
    margin-bottom: 72px;
    width: 288px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
        }
 .logo-bottom {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
     }
.footer-media {
   margin-left: auto;
   margin-right: auto;
}
.soc {
    text-align: center;
}
.sub-form {
    flex-direction: column;
}
.footer-form {
    max-width: 288px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 16px;
    flex-direction: column;
    padding-top: 72px;
}
.footer-input {
    margin-right: auto;
    margin-left: auto;
    max-width: 288px;
    display: block;
}
.footer-form .soc {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

}
@media screen and (max-width: 320px) {
    .modal {
            width: 288px;
            min-height: 623px;
            padding: 72px 16px 24px 16px;
        }
    .form-con input {
                width: 256px;
    }    
}

@media screen and (max-width: 320px) {
    .modal-header {
        width: 320px;
        min-height: 640px;
    }
    
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .title {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-t.jpg);
        }
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .link {
        font-size: 12px;
    }
    .link-one {
        display: block;
    }
    .menu-ic {
        display: none;
    }
    .header-container {
        align-items: center;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .features-first {
            padding: 96px 0;
        }
        .features-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 24px;
        }
    
        .features-list-item {
            width: calc((100% - 24px) /2);
            padding-bottom: 72px;
        }
    
        .features-icon {
            display: none;
        }
    
        .title-two {
            font-weight: 700;
            font-size: 36px;
            text-align: center;
    
        }
    
        .desc {
            text-align: start;
            font-weight: 500;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
.team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        padding-bottom: 96px;
    }
    .item {
        width: 264px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .port {
            padding-top: 96px;
            padding-bottom: 96px;
        }
    
        .portfolio-list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 24px;
        }
    
        .portfolio-list-item {
            width: 356px;
        }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .footer-media {
        padding-left: 19px;
        margin-left: 0;
        margin-right: auto;
    }
    .logo-p {
        padding-right: 24px;
        margin-right: 0;
        margin-left: auto;
    }
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer-form {
padding-top: 72px;
width: 453px;
margin: 0 auto;
    }
    .footer-input {
        padding-right: 24px;
    }
}


@media screen and (min-width: 769px){
    .menu-ic {
            display: none;
        }
}